@require "app/styles/charte"

/*
 * ID
 */
#header
  padding: 4em 2em 2em
  text-align: center


/*
 * Classes
 */
.header
  &-category
    color: $black-almost
    cursor: pointer
    display: inline-block
    margin: 0 1em
    text-decoration: underline

    // Au survol
    &:hover
      color: $red
